body {
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: #323232
  ;
}

img {
  width: 50px;
  height: 40px;
}

i{
  padding: 0px 0px;
  margin: 0px 0px;
}

label{
  margin: 0px 0px;
}

.header {
  display: flex;
  flex-flow: wrap;
  background-color:#ff0000	;
  width: 100%;
  margin-right: auto;
}

.plain_header{
    display: flex;
    flex-flow: wrap;
    background-color: rgb(219, 215, 215);
    width: 100%;
    margin-right: auto;
}

.plain_header:hover{
  color:rgb(59, 75, 221);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.ask_button {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 15px;
  margin-top: 30px;
  font-weight: bold;
}

.category {
  width: 3cm;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(150, 158, 231);
  padding-bottom: 5px;
  padding-top: 5px;
}

.form_style {
  background-color: rgb(235, 231, 231);
  border-radius: 10px;
}

.Answer_form{
  margin-top: 100px;
}

.question_card {
  background-color:#fff;
  margin-top: 20px;
  padding-top: 30px;
}

.ask_button {
  border-radius: 8px;
  border-color: white;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #0095ff;
  padding: 4px 4px;
}

.button {
  border-radius: 8px;
  border-color: white;
  margin: 10px 10px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #0095ff;
}

.button:hover {
  border-radius: 8px;
  background-color: #065794;
  color: white;
}

.header_button {
  border-radius: 8px;
  border-color: white;
  padding: 0px 0px;
  /* font-size: 18px; */
  font-weight: bold;
  color: white;
  background-color: #0095ff;
}

.header_button:hover {
  border-radius: 8px;
  background-color: #065794;
  color: white;
}

.pagination_button {
  margin-left: 2px;
  width: 8cm;
  text-align: center;
  font-size: 12px;
  padding: 0px 0px;
}

.pagination_button:hover{
  border-radius: 8px;
  background-color: #065794;
  color: white;	
  cursor: pointer;
}

.search_mainPage {
  padding: 5px 10px;
  width:150px;
  border: 3px solid rgb(21, 60, 235);
}

.title_font {
  font-size: 30px;
  color: rgb(32, 23, 138);
  font-weight: bolder;
}

.question_needs_answer{
  font-size: 30px;
  color: rgb(32, 23, 138);
  text-align:center ;
  font-weight: bolder;
  margin:30px 2px;
}

.question_has_answer{
  font-size: 30px;
  color: rgb(32, 23, 138);
  font-weight: bolder;
  margin: 40px;
  margin-left: 10%;
}

label.title_font:hover {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.question_font {
  font-size: 25px;
  font-weight: bold;
  color: rgb(53, 47, 47);
  overflow: scroll;
}

.title_Answer {
  font-size: 30px;
  color: rgb(32, 23, 138);
  font-weight: bolder;
  margin-left: 15%;
  margin-bottom: 10px;
  margin-top: auto;
}

.answer_form_top_text{
  font-size: 30px;
  color: rgb(32, 23, 138);
  font-weight: bolder;
  margin-left: 10%;
  padding-bottom: 20px;
  margin-top: auto;
}

.title_question {
  font-size: 30px;
  color: rgb(29, 80, 63);
  font-weight: bolder;
  cursor: pointer;
}

.question_box {
  background-color: rgb(235, 231, 231);
  border-radius: 10px;
}

.answer_font {
  font-size: 20px;
  font-weight: bold;
}

.answer_box {
  background-color: rgb(235, 231, 231);
  border-radius: 10px;
  width: 80%;
}

.nameOfPerson {
  font-size: 20px;
  font-weight: bolder;
  padding-top: 10px;
  color: rgb(32, 23, 138);
}

.loading_text {
  font-size: 45px;
  color: rgb(128, 26, 0);
  margin: 20px;
  margin-left: auto;
}

.has_answers {
  color: rgb(11, 124, 11);
  width: fit-content;
  padding: 10px 6px;
  font-size: 20px;
  font-weight: bold;
}

.no_answers {
  color: red;
  width: fit-content;
  padding: 10px 6px;
  font-size: 20px;
  font-weight: bold;
}
.time {
  margin-right: 20px;
  font-weight: bold;
  color: rgb(131, 131, 131);
}

.date {
  font-weight: bold;
  color: rgb(131, 131, 131);
}

.date-main {
  font-size: 20px;
  font-weight: bold;
  color: rgb(131, 131, 131);
  padding-bottom: 10px;
}

@media only screen and (min-width:1000px){ 
  .search_mainPage{
    width: 300px;
  }

.header_button {
  font-size: 18px; 
  font-weight: bold;
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 3px;
}
.text {
  font-size: 30px;
}
.pagination_button {
  margin-left: auto;
  width: 8cm;
  text-align: center;
  padding: 6px 5px;
}
.search_mainPage {
  width: 500px;
}
}