.main_style{
  background-color: rgb(219, 215, 215);
  border-radius: 10px;
  width: 50%;
}

.buttonColor{
  background-color: rgb(56, 134, 56);
}

.logo{
  font-size: 20px;
  font-weight: bold;
}

.title_font{
  font-size: 40px;
  font-weight: bolder;
}

.question_font{
  font-size: 25px;
  font-weight: bold;
}

.answer_font{
  font-size: 20px;
  font-weight:bold;
}

.answer_box{
  background-color: rgb(219, 215, 215);
  border-radius: 10px;
  width: 80%;
}

.nameOfPerson{
  font-size: 15px;
  font-weight:bolder;
  padding-top: 10px;
  color: green;
}


.header{
  background-color: rgb(219, 215, 215);
}

.category{
  width:fit-content;
}

